<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel App - Udacity Nanodegree</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <div class="wrapper">
      <h1>Where will you go next?</h1>
      <form class="" method="post" name="placesForm" id="placesForm">
        <label for="location">I want to go to
        <input
          type="text"
          name="location"
          id="location"
          value=""
          placeholder="Be brave"
        /></label>

        <label for="when">When
        <input type="date" name="when" id="when" value=""></label>
        <input type="submit" name="" value="Go">

        <input type="hidden" name="lat" id="lat" value="">
        <input type="hidden" name="lon" id="lon" value="">
      </form>

      <div class="places-list">
        <ul>
        </ul>
      </div>

      <div class="trips-container">
        <h2>Your trip</h2>

      </div>
    </div><!-- wrapper ends -->



  </body>
</html>
